<!DOCTYPE html>
<html ng-app="Livraria">
<head>
	<meta charset='UTF-8'>
	<title>Livraria</title>
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/app.css">
	<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
	<script src="../lib/angular/angular.js"></script>
	<script src="../js/livrariaController.js"></script>
	<script src="../js/database.js"></script>
</head>
<body ng-controller="LivrariaCtrl as ctrl">
	<div class="callout large primary">
		<div class="row column text-center">
			<h1><b>Livraria</b></h1>
		</div>
	</div>

	<div class="body" id="content">
		<div class="blog-post">
			<h3><b>{{livro.titulo}}</b></h3>
			<img class="thumbnail" src={{livro.capa}} >
			<p ng-class"{'negrito':True}"><b>Descrição:</b> {{livro.descricao}}</p>
			<div class="callout">
				<ul class="menu simple">
					<li><a href="#">Author: Mike Mikers</a></li>
					<li><a href="#">Comments: 3</a></li>
				</ul>
			</div>
			<div>
				<button class="btn btn-primary"  ng-click="previous()">Anterior</button>
				<button class="btn btn-primary"  ng-click="next()">Próximo</button>
			</div>
		</div>
	</div>
	<hr/>
	<div ng-include="'footer.html'"></div>
</body>
</html>